tapir-extensions-feature-ide/src/main/resources/feature.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="featureModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="struct" type="struct" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="extendedFeatureModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="struct" type="struct" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="struct">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>

</xs:schema>